<footer id="footer" style="display: none;">
    <div>
            <span id="todo-count">
				<strong id="count"><%- count %></strong> <span id="grammar">item</span> left
			</span>
        <ul id="filters">
            <li class="all">
                <a href="#/" class="selected">All</a>
            </li>
            <li class="active">
                <a href="#/active">Active</a>
            </li>
            <li class="completed">
                <a href="#/completed">Completed</a>
            </li>
        </ul>
        <button id="clear-completed" class="hidden">
            Clear completed
        </button>
    </div>
</footer>